@charset "UTF-8";

#jb-container {
	width: 100%;
	margin: 0px auto;
	padding: 5px;
}

#jb-header {
	width: 100%;
	margin-bottom: 20px;
	font-family: 'NanumSquareRound', sans-serif;
	font-weight: 800;
	font-size: 24px;
}

#jb-content {
	width: 65%;
	padding: 40px;
	margin-left: 15%;
	float: left;
	font-family: 'NanumSquareRound', sans-serif;
}

#jb-sidebar {
	width: 260px;
	padding: 20px;
	margin: 25px;
	float: right;
}

#jb-footer {
	clear: both;
	width: 100%;
	height: 100px;
	background-color: #4582EC;
	font-family: 'NanumSquareRound', sans-serif;
	text-align: center;
	color: white;
}

#table1 {
	width: 80%;
	height: 200px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 0 20px;
	table-layout: fixed;
	word-break: break-all;
}

#th1 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-size: 25px;
}

#th2 {
	font-size: 18px;
}

#th3 {
	font-size: 25px;
}

#textright {
	text-align: right;
}

#move01 {
	cursor: pointer;
	color: #4582EC;
}

#plain {
	font-family: 'NanumSquareRound', sans-serif;
	display: none
}

#blue {
	color: #4582EC;
}

#stylenone {
	list-style: none;
}

#table2 {
	width: 250px;
	height: 100px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 0 20px;
	table-layout: fixed;
	word-break: break-all;
	border: 1px solid gray;
}

#top {
	display: scroll;
	position: fixed;
	bottom: 5%;
	right: 5%;
	color: black;
	text-decoration: none;
	font-size: 15px;
}

#nodata {
	font-size: 22px;
	font-weight: 600px;
}

#jb-content-nodata {
	background-color: #dee0e2;
	width: 65%;
	padding: 40px;
	margin: 20px;
	float: left;
	font-family: 'NanumSquareRound', sans-serif;
}

