@import
	url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

tbody>tr {
	cursor: pointer;
}

.result {
	margin-top: 20px;
}

#jb-footer {
	clear: both;
	width: 100%;
	height: 100px;
	background-color: #4582EC;
	font-family: 'NanumSquareRound', sans-serif;
	text-align: center;
	color: white;
}

#jb-header {
	width: 100%;
	margin-bottom: 20px;
	font-family: 'NanumSquareRound', sans-serif;
	font-weight: 800;
	font-size: 24px;
}

#jb-content {
	width: 80%;
	padding: 40px;
	margin: 20px;
	font-family: 'NanumSquareRound', sans-serif;
}

#jb-container {
	width: 100%;
	margin: 0px auto;
	padding: 5px;
}