@charset "UTF-8";

#jb-header {
	width: 100%;
	margin-bottom: 20px;
	font-family: 'NanumSquareRound', sans-serif;
	font-weight: 800;
	font-size: 24px;
}

#jb-footer {
	clear: both;
	width: 100%;
	height: 100px;
	background-color: #4582EC;
	font-family: 'NanumSquareRound', sans-serif;
	text-align: center;
	color: white;
}

#jb-container {
	width: 100%;
	margin: 0px auto;
	padding: 5px;
}

#jb-content {
	width: 65%;
	padding: 40px;
	margin: 20px;
	float: left;
	font-family: 'NanumSquareRound', sans-serif;
}

#jb-sidebar {
	width: 260px;
	padding: 20px;
	margin: 20px;
	float: right;
	border: 1px solid #bcbcbc;
}