@charset "UTF-8";
/* Kurien / Kurien's Blog / http://blog.kurien.co.kr */
/* 주석만 제거하지 않는다면, 어떤 용도로 사용하셔도 좋습니다. */

* {
	font-family: 'NanumSquareRound', sans-serif;
}

#kCalendar {
	width: 250px;
	height: 250px;
}

#kCalendar #header {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 800
}

#kCalendar .button {
	color: #000;
	text-decoration: none;
}

#kCalendar table {
	width: 250px;
	height: 200px;
}

#kCalendar caption {
	display: none;
}

#kCalendar .sun {
	text-align: center;
	color: deeppink;
}

#kCalendar .mon {
	text-align: center;
}

#kCalendar .tue {
	text-align: center;
}

#kCalendar .wed {
	text-align: center;
}

#kCalendar .thu {
	text-align: center;
}

#kCalendar .fri {
	text-align: center;
}

#kCalendar .sat {
	text-align: center;
	color: deepskyblue;
}