<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.GraduationMapper">

	<select id="findByDepartmentId" resultType="GraduationText">
	select *
	from graduationText 
	where departmentId like #{departmentId} and
    division like #{division};		
	</select>
	<select id="findCredit" resultType="String">
		select credit from graduationInput 
		where division=#{d} and creditDivision=#{cd} and admissionYear=#{year} and departmentId=#{departmentId}
	</select>
	
	
	<update id="updateText">
	update graduationText
	set 
	graduationContent = #{content},
	graduationEtc = #{etc}
	where departmentId = #{departmentId} and
	division like #{division};
	</update>
	
	

	<update id="updateInput">
		update graduationInput
		set
		credit = #{credit}
		where departmentId like #{departmentId} and
		admissionYear like #{year} and
		creditDivision like  #{creditDivision} and
		division like #{division}; 
	</update>
	
	
	<select id = "findByInput" resultType="GraduationInput">

	select * from graduationInput
	where departmentId like  #{departmentId} and
	admissionYear like  #{year} and
	creditDivision like  #{creditDivision}
	
	</select>
	
</mapper>