<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.ProfessorMapper">

	<select id="findById" resultType="Professor">
		select * from professor where userId = #{userId};
	</select>
	
	<update id="updateProfessor">
		update professor set 
			departmentId = #{departmentId},
			grade = #{grade},
			class = #{group}
		where userId = #{userId}
	</update>
</mapper>