<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.RequiredSubjectMapper">

	<select id="findByConditions" resultType="String"><!-- 학과, 년도, 학년, 학기로 필수과목 select -->
		select distinct subject.subjectName from
		requiredSubject left join subject
		on requiredSubject.subjectCode = subject.code where
		requiredSubject.departmentId like '12' and
		requiredSubject.admissionYear like #{admissionYear}
		and requiredSubject.grade like #{grade} and requiredSubject.semester like #{semester}
		and subject.year like #{admissionYear};
	</select>

	<select id="findByConditionsForFreshman" resultType="String"><!-- 학과, 년도, 학년, 학기로 필수과목 select -->
		select distinct subject.code from
		requiredSubject left join subject
		on requiredSubject.subjectCode = subject.code where
		requiredSubject.departmentId like '10' and
		requiredSubject.admissionYear like #{admissionYear}
		and requiredSubject.grade like #{grade} and requiredSubject.semester like #{semester}
		and subject.year like #{admissionYear};
	</select>

	<select id="findBySubjectName" resultType="String">
	select distinct subjectName from subject where code like #{subjectCode} limit 1;
	</select>	

	<select id="requiredCount" resultType="int">
		select count(*) from requiredSubject 
		where admissionYear like #{admissionYear} and departmentId like '12';
	</select>
	
	<select id="myRequiredCount" resultType="int">
		select count(DISTINCT requiredSubject.subjectCode)
		from databaseProject.requiredSubject left join subject
		on requiredSubject.subjectCode = subject.code
		where requiredSubject.admissionYear like #{admissionYear} 
        and requiredSubject.departmentId like '12' 
        and subject.year like #{admissionYear}
		and subject.departmentId like '12';
	</select>
	<select id = "findByReSub" resultType="RequiredSubject">
	select distinct r.*, s.subjectName name
	from subject s left join
	requiredSubject r
	on r.subjectCode = s.code and r.admissionYear = s.year
	where r.admissionYear like #{year} and
	r.departmentId like #{departmentId} and
	r.grade like #{grade};

</select>

<delete id="delete">
	delete from requiredSubject
	where departmentId like #{departmentId} and
	admissionYear like #{year} and
	grade like #{grade} and
	semester like #{semester} and
	subjectCode like #{subjectCode};
</delete>



<insert id="insert">
insert into requiredSubject 
values ( #{subjectCode}, #{departmentId}, #{year}, #{grade},
#{semester});
</insert>


</mapper>