<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.SecondMajorMapper">
	
	<select id="insert">
	insert into secondMajor values(#{userId}, #{division}, #{departmentId});
	</select>
	
		<select id="findAll" resultMap="resultMap1">
		select s.*, d.name 
		from secondMajor s
		left join department d on s.departmentId=d.id
	</select>
	
	<select id="findOneById" resultMap="resultMap1">
		select se.userId,d.name 
		from secondMajor se 
		left join department d on se.departmentId=d.id
		where se.userId = #{userId}
	</select>
	<resultMap id="resultMap1" type="SecondMajor">
		<id property="userId" column="userId"/>
		<result property="division" column="division"/>
		<result property="departmentId" column="departmentId"/>
		<association property="department" javaType="Department">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	<update id="update" >
	update secondMajor set
	division = #{division}
	departmentId = #{departmentId}
	where userId=#{userId}
	</update>
</mapper>