<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.StudentMapper">

	<select id="insert">
		insert into student values (#{userId},
		#{stuSemester}, #{stuClass}, #{transferStudent},
		#{volunteerExemption}, #{departmentId}, #{howToGraduate});
	</select>

	<update id="update">
		update student set
		stuSemester = #{stuSemester},
		stuClass = #{stuClass},
		howToGraduate = #{howToGraduate}
		where userId =
		#{userId}
	</update>

	<update id="updateForInfo">
		update student set
		stuSemester = #{stuSemester},
		stuClass = #{stuClass},
		transferStudent = #{transferStudent},
		volunteerExemption = #{volunteerExemption},
		departmentId = #{departmentId},
		howToGraduate = #{howToGraduate}
		where userId = #{userId}
	</update>

	<select id="stuInfo" resultType="Student">
		select * from student where
		userId like #{userId};
	</select>

	<select id="findAllWithUser" resultMap="resultMap1">
		select s.userId,
		u.userName, u.phone , d.name
		from
		student s left join user u
		on
		u.id=s.userId
		left join department d
		on s.departmentId=d.id
		order by
		userId+0;
	</select>

	<select id="findById" resultMap="resultMap1">
		select s.userId, u.userName,
		u.phone , d.name
		from
		student s left join user u
		on u.id=s.userId
		left
		join department d
		on s.departmentId=d.id
		where s.userId like #{userId};
	</select>

	<select id="findByName" resultMap="resultMap1">
		select s.userId, u.userName,
		u.phone , d.name
		from
		student s left join user u
		on u.id=s.userId
		left
		join department d
		on s.departmentId=d.id
		where u.userName like
		#{userName};
	</select>

	<select id="findOneWithUser" resultMap="resultMap1">
		select s.*, u.*,d.*, m.*
		from student s
		left join user u on u.id=s.userId
		left join department d on
		s.departmentId=d.id
		left join secondMajor m on s.userId = m.userId
		where s.userId like #{userId};
	</select>

	<select id="findOneWithProfessor" resultMap="resultMap2">
		select s.*,p.userId
		pId,d.name
		from student s
		join professor p on s.departmentId = p.departmentId
		join department d on s.departmentId = d.id
		where s.departmentId =
		p.departmentId and s.userId = #{userId}
	</select>

	<select id="findByGrade" resultMap="resultMap1">
		select s.userId, u.userName,
		u.phone , d.name,s.stuSemester
		from
		student s left join user u
		on
		u.id=s.userId
		left join department d
		on s.departmentId=d.id
		where s.stuSemester in(#{semester1}, #{semester2});
	</select>

	<select id="frustratedStudent" resultMap="resultMap3">
		select student.*, u.*
		from (select s.*, sum(m.credit) 'totalCredit'
		from student s join mySubject m on s.userId = m.userId
		where s.stuSemester >= 8 group by m.userId) 
		student join user u on student.userId = u.id 
		where totalCredit >= 130 and student.departmentId = '12' #{searchBy}
	</select>

	<resultMap id="resultMap3" type="Student">
		<id property="userId" column="userId" />
		<result property="stuSemester" column="stuSemester" />
		<result property="stuClass" column="stuClass" />
		<result property="transferStudent" column="transferStudent" />
		<result property="volunteerExemption"
			column="volunteerExemption" />
		<result property="departmentId" column="departmentId" />
		<result property="howToGraduate" column="howToGraduate" />
		<association property="user" javaType="User">
			<id property="id" column="id" />
			<result property="userName" column="userName" />
			<result property="phone" column="phone" />
			<result property="email" column="email" />
		</association>
	</resultMap>

	<resultMap id="resultMap1" type="Student">
		<id property="userId" column="userId" />
		<result property="stuSemester" column="stuSemester" />
		<result property="stuClass" column="stuClass" />
		<result property="transferStudent" column="transferStudent" />
		<result property="volunteerExemption"
			column="volunteerExemption" />
		<result property="departmentId" column="departmentId" />
		<result property="howToGraduate" column="howToGraduate" />
		<association property="user" javaType="User">
			<id property="id" column="id" />
			<result property="userName" column="userName" />
			<result property="phone" column="phone" />
			<result property="email" column="email" />
		</association>
		<association property="department" javaType="Department">
			<id property="id" column="id" />
			<result property="name" column="name" />
		</association>
		<association property="secondMajor" javaType="SecondMajor">
			<id property="userId" column="userId" />
			<result property="division" column="division" />
			<result property="departmentId" column="departmentId" />
			<association property="department" javaType="Department">
				<id property="id" column="id" />
				<result property="name" column="name" />
			</association>
		</association>
	</resultMap>

	<resultMap id="resultMap2" type="Student">
		<id property="userId" column="userId" />
		<result property="stuSemester" column="stuSemester" />
		<result property="stuClass" column="stuClass" />
		<result property="transferStudent" column="transferStudent" />
		<result property="volunteerExemption"
			column="volunteerExemption" />
		<result property="departmentId" column="departmentId" />
		<result property="howToGraduate" column="howToGraduate" />
		<result property="pId" column="pId" />
		<association property="department" javaType="Department">
			<id property="id" column="id" />
			<result property="name" column="name" />
		</association>
	</resultMap>

</mapper>