<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.SubjectMapper">

	<insert id="insert" parameterType="java.util.List">
		INSERT into subject(year, semester, code, divisionClass, departmentId,
		subjectName, completionDivision, credit)
		VALUES
		<foreach collection="list" item="subject" separator=" , ">
			('${subject.year}', '${subject.semester}', '${subject.code}',
			'${subject.divisionClass}', '${subject.departmentId}',
			'${subject.subjectName}',
			'${subject.completionDivision}', '${subject.credit}')
		</foreach>
	</insert>

	<select id="findDelete" resultType="int">
		select count(*) from subject
		where
		code=#{DeleteCode} and departmentId=#{DeleteDepartmentId}
		and year=#{DeleteYear} and semester=#{DeleteSemester}
		and subjectName=#{DeleteSubjectName}
	</select>

	<select id="findReplace" resultType="int">
		select count(*) from subject
		where
		code=#{code} and departmentId=#{departmentId}
		and subjectName=#{subjectName}
	</select>
	
	<select id="findByType" resultType="Subject">
		<bind name="start" value="(pg-1) * sz" />
		select *,d.name
		from subject s 
		left join department d 
		on s.departmentId = d.id
		<where>
			<if test="sb==1">s.code LIKE '%' #{st} '%'</if>
			<if test="sb==2">s.subjectName LIKE '%' #{st} '%'</if>
		</where>
		LIMIT ${start},${sz}
	</select>
	
	<select id="count" resultType="int">
		select count(s.code)
		from subject s 
		left join department d 
		on s.departmentId = d.id
		<where>
			<if test="sb==1">s.code LIKE '%' #{st} '%'</if>
			<if test="sb==2">s.subjectName LIKE '%' #{st} '%'</if>
		</where>
	</select>

</mapper>