<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.UploadedFileMapper">

	<select id="findOne" resultType="UploadedFile">
		select * from uploadedfile where id = #{id};
	</select>
	
	<select id="findByBoardId" resultType="UploadedFile">
		select * 
		from uploadedfile u join board b on u.boardId = b.boardId
		where u.boardId = #{boardId}
	</select>
	
	<insert id="insert">
		insert into uploadedfile(boardId, fileName, fileSize, data)
		value (#{boardId}, #{fileName}, #{fileSize}, #{data})
	</insert>
	
	<delete id="deleteById">
		delete from uploadedfile where id = #{id}
	</delete>
	
	<delete id="deleteBybBoardId">
		delete from uploadedfile where boardId = #{boardId}
	</delete>
</mapper>