<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquare/master/nanumsquare.min.css">
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	body{
		font-family: 'NanumSquareRound', sans-serif;
	}
</style>
</head>
<body>
	<div class="layer-wrap" style="text-align: center; align: center; margin-top: 70px">
		<form class="pop-layer">
			<div class="pop-container">
				<div class="pop-conts">
					<!--content //-->
					<h4>대체과목 적용</h4>
					전공기초과정(이산수학, 대학수학, 정보사회론, 컴퓨터 활용 포함 교양 15학점 이상 이수, 총 교양 47학점 이상)<br>
					전공심화과정(전공 15학점 이상 추가 이수, 총 전공 75학점 이상)<br>
					타과복수전공과정, 타과부전공과정, 연계전공과정, 자기설계과정<br>
					해외창과정 등의 특별과정 중 한 과정 이상 이수<br>
					<!--// content-->
				</div>
			</div>
		</form>
	</div>
</body>
</html>