@charset "UTF-8";

@import
	url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

tbody>tr {
	cursor: pointer;
}

.result {
	margin-top: 20px;
}

#side-school {
	width: 250px;
	height: 100px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 0 20px;
	table-layout: fixed;
	word-break: break-all;
	border: 1px solid gray;
}

#table2 {
	width: 250px;
	height: 100px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 0 20px;
	table-layout: fixed;
	word-break: break-all;
}